<aside>
	<div class="panel radius">
		<h3><a href="/manual/layers.html">Layers</a></h3>

        <div><a href="/manual/layers/absval.html">AbsVal</a></div>
        <div><a href="/manual/layers/accuracy.html">Accuracy</a></div>
        <div><a href="/manual/layers/argmax.html">ArgMax</a></div>
        <div><a href="/manual/layers/batchnorm.html">BatchNorm</a></div>
        <div><a href="/manual/layers/batchreindex.html">BatchReindex</a></div>
        <div><a href="/manual/layers/bias.html">Bias</a></div>
        <div><a href="/manual/layers/bnll.html">BNLL</a></div>
        <div><a href="/manual/layers/concat.html">Concat</a></div>
        <div><a href="/manual/layers/contrastiveloss.html">ContrastiveLoss</a></div>
        <div><a href="/manual/layers/convolution.html">Convolution</a></div>
        <div><a href="/manual/layers/crop.html">Crop</a></div>
        <div><a href="/manual/layers/data.html">Data</a></div>
        <div><a href="/manual/layers/deconvolution.html">Deconvolution</a></div>
        <div><a href="/manual/layers/dropout.html">Dropout</a></div>
        <div><a href="/manual/layers/dummydata.html">DummyData</a></div>
        <div><a href="/manual/layers/eltwise.html">Eltwise</a></div>
        <div><a href="/manual/layers/elu.html">ELU</a></div>
        <div><a href="/manual/layers/embed.html">Embed</a></div>
        <div><a href="/manual/layers/euclideanloss.html">EuclideanLoss</a></div>
        <div><a href="/manual/layers/exp.html">Exp</a></div>
        <div><a href="/manual/layers/filter.html">Filter</a></div>
        <div><a href="/manual/layers/flatten.html">Flatten</a></div>
        <div><a href="/manual/layers/hdf5data.html">HDF5Data</a></div>
        <div><a href="/manual/layers/hdf5output.html">HDF5Output</a></div>
        <div><a href="/manual/layers/hingeloss.html">HingeLoss</a></div>
        <div><a href="/manual/layers/im2col.html">Im2col</a></div>
        <div><a href="/manual/layers/imagedata.html">ImageData</a></div>
        <div><a href="/manual/layers/infogainloss.html">InfogainLoss</a></div>
        <div><a href="/manual/layers/innerproduct.html">InnerProduct</a></div>
        <div><a href="/manual/layers/input.html">Input</a></div>
        <div><a href="/manual/layers/log.html">Log</a></div>
        <div><a href="/manual/layers/lrn.html">LRN</a></div>
        <div><a href="/manual/layers/lstm.html">LSTM</a></div>
        <!-- div><a href="/manual/layers/lstmunit.html">LSTMUnit</a></div-->
        <div><a href="/manual/layers/memorydata.html">MemoryData</a></div>
        <div><a href="/manual/layers/multinomiallogisticloss.html">MultinomialLogisticLoss</a></div>
        <div><a href="/manual/layers/mvn.html">MVN</a></div>
        <div><a href="/manual/layers/parameter.html">Parameter</a></div>
        <div><a href="/manual/layers/pooling.html">Pooling</a></div>
        <div><a href="/manual/layers/power.html">Power</a></div>
        <div><a href="/manual/layers/prelu.html">PReLU</a></div>
        <div><a href="/manual/layers/python.html">Python</a></div>
        <div><a href="/manual/layers/recurrent.html">Recurrent</a></div>
        <div><a href="/manual/layers/reduction.html">Reduction</a></div>
        <div><a href="/manual/layers/relu.html">ReLU</a></div>
        <div><a href="/manual/layers/reshape.html">Reshape</a></div>
        <div><a href="/manual/layers/rnn.html">RNN</a></div>
        <div><a href="/manual/layers/scale.html">Scale</a></div>
        <div><a href="/manual/layers/sigmoid.html">Sigmoid</a></div>
        <div><a href="/manual/layers/sigmoidcrossentropyloss.html">SigmoidCrossEntropyLoss</a></div>
        <div><a href="/manual/layers/silence.html">Silence</a></div>
        <div><a href="/manual/layers/slice.html">Slice</a></div>
        <div><a href="/manual/layers/softmax.html">Softmax</a></div>
        <div><a href="/manual/layers/softmaxwithloss.html">SoftmaxWithLoss</a></div>
        <div><a href="/manual/layers/split.html">Split</a></div>
        <div><a href="/manual/layers/spp.html">SPP</a></div>
        <div><a href="/manual/layers/tanh.html">TanH</a></div>
        <div><a href="/manual/layers/threshold.html">Threshold</a></div>
        <div><a href="/manual/layers/tile.html">Tile</a></div>
        <div><a href="/manual/layers/windowdata.html">WindowData</a></div>

	</div>
</aside>
